/DNA_Embeddings/.ipynb_checkpoints/
/DNA_Embeddings/cub_dna_embedding.csv
/DNA_Embeddings/nucleotide_alignment.m
/DNA_Embeddings/insect_dna_embedding.csv
/BZSL-Python/nucleotides_aligned.mat
/BZSL-Python/tmp.fasta
/BZSL-Python/tmp.txt
/DNA_Embeddings/.ipynb_checkpoints/*
