numpy==1.26.0
pandas==2.2.3
scipy==1.14.1
torch==2.0.1
transformers==4.40.2
torchtext==0.15.2
torchvision==0.15.2
scikit-learn==1.5.2
einops==0.8.0
boto3==1.35.28
botocore==1.35.28
cmake==3.30.3
opt-einsum
peft==0.13.0
omegaconf== 2.3.0
evaluate==0.4.3
accelerate==0.34.2